@use "vars" as *;


.inner {
	display: block;
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

@include mq(md-min){
	@keyframes run01 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(10px, 10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run02 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(30px, -20px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run03 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-10px, 10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run04 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(10px, 10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run05 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(30px, -20px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run06 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(10px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run07 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-20px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}

}
@include mq(){
	@keyframes run01 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, 5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run02 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, -5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run03 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-5px, 5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run04 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, 5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run05 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(15px, -10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run06 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run07 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-10px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}

}
