@use "vars" as *;


.inner {
	display: block;
	max-width: 1330px;
	padding: 0 15px;
	margin: 0 auto;
}

@include mq(md-min){
	@keyframes run01 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(10px, 10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run02 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(30px, -20px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run03 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-10px, 10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run04 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(10px, 10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run05 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(30px, -20px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run06 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(10px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run07 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-20px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}

}
@include mq(){
	@keyframes run01 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, 5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run02 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, -5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run03 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-5px, 5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run04 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, 5px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run05 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(15px, -10px);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run06 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(5px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	@keyframes run07 {
		0% {
			transform: translate(0,0);
		}
		50% {
			transform: translate(-10px, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}

}


.loading{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: white;
	@include flex(center,center,wrap);
	transition: all .7s ease;
	.bar{
		position: absolute;
		top: calc(50% + 100px);
		left: 0;
		width: 0;
		height: 5px;
		background: $blue;
		@include smooth-transition;
	}
	&-img{
		display: block;
		width: 150px;

	}
}

.is-hello{
	&.active{
		.loading{
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}
	}
	.loading{
		.bar{
			width: 100%;
		}
	}
	.mv-block{
		opacity: 1;
		visibility: visible;
		transition: all .7s ease;
		transition-delay: 1s;
	}
	.mv-links{
		opacity: 1;
		visibility: visible;
		transition: all .7s ease;
		transition-delay: 1.3s;
	}
}