<header id="header">
	<a href="/" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/common/header-logo.svg" alt="HYPERTEK">
	</a>
	<nav class="header-nav">
		<ul class="header-nav__menu">
			<li class="header-nav__menu-item">
				<a href="#about" class="js-header-anchor">About Us</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#technology" class="js-header-anchor">Technology</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#working" class="js-header-anchor">Working Process</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#services" class="js-header-anchor">Services</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="#delivery" class="js-header-anchor">Delivery Models</a>
			</li>
		</ul>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>